
body {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);  
    background: #252525;
    background-image: url('/assets/bg.webp');
    background-size: cover;
    /* background: linear-gradient(90deg, rgba(35,36,35,1) 0%, rgba(11,12,12,1) 100%);
    background-color: #0b0c0c; */
    font-family: "Tajawal", sans-serif !important;
}

h1,h2,h3,h4,h5,h6,p {
color:#ffffff !important; 
}

#main {
    /* background-image: url('/assets/bg.png'); */
    /* background-size: cover; */
    width: 99vw;
    height: 100vh;
    /* background-position: center, center; */

}

.main-text {
    font-size:35px ;
}

.img-1 {
    width: 500px;
}

.img-story {
    width: 403px;
    height: 716px ;
}

#capture-story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 403px ;
    /* border: #ffffff solid 1px; */
}


.span-name {
    position: absolute;
    font-size: 25px;
    margin-top: 250px;
    font-weight: 500;
}

.text-color-blue {
    color: #599bfc !important ;
}

.text-color-white {
    color: #ffffff !important;
}

#text {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

}
/* 
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px ;
} */

#capture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px ;
    /* border: #ffffff solid 1px; */
}




.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width : 640px) {

    #capture {
        width: 350px;
        margin-top: 30px;
    }
    .img-1 {
        width: 350px;
    }

    .img-story {
        width: 351px;
        height: 624px ;
    }
    
    #capture-story {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        width: 351px ;
        /* border: #ffffff solid 1px; */
    }

    #span-1 {
        font-size : 20px;
        margin-top: 180px ;
    }

    #span-2 {
        font-size : 20px;
        margin-top: 200px ;
    }
    

    /* #main {
        background-image: url('/assets/bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        
    } */

    .main-text {
        font-size:24px ;
        line-height: 35px;
    }

    #button {
        margin-bottom: 30px;
    }

}

/* pre loader */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .footer {
    color: #ffff;
    padding-top: 40px;
    align-items: end;
  }

  .footer a {
    text-decoration: none;
    color: #6ca7d7;
    font-weight: 700;
  }