
body {
    background-image: url('/assets/bg.webp');
    background-size: cover;
    /* background: linear-gradient(90deg, rgba(35,36,35,1) 0%, rgba(11,12,12,1) 100%);
    background-color: #0b0c0c; */
    font-family: "Tajawal", sans-serif !important;
}

h1,h2,h3,h4,h5,h6,p {
color:#ffffff !important; 
}

#main {
    /* background-image: url('/assets/bg.png'); */
    /* background-size: cover; */
    width: 99vw;
    height: 100vh;
    /* background-position: center, center; */

}

.main-text {
    font-size:35px ;
}

.img-1 {
    width: 500px;
}

.img-story {
    width: 403px;
    height: 716px ;
}

#capture-story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 403px ;
    /* border: #ffffff solid 1px; */
}


.span-name {
    position: absolute;
    font-size: 25px;
    margin-top: 250px;
    font-weight: 500;
}

.text-color-blue {
    color: #599bfc !important ;
}

.text-color-white {
    color: #ffffff !important;
}

#text {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

}
/* 
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px ;
} */

#capture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px ;
    /* border: #ffffff solid 1px; */
}




.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width : 640px) {

    #capture {
        width: 350px;
        margin-top: 30px;
    }
    .img-1 {
        width: 350px;
    }

    .img-story {
        width: 351px;
        height: 624px ;
    }
    
    #capture-story {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        width: 351px ;
        /* border: #ffffff solid 1px; */
    }

    #span-1 {
        font-size : 20px;
        margin-top: 180px ;
    }

    #span-2 {
        font-size : 20px;
        margin-top: 200px ;
    }
    

    /* #main {
        background-image: url('/assets/bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        
    } */

    .main-text {
        font-size:24px ;
        line-height: 35px;
    }

    #button {
        margin-bottom: 30px;
    }

}